@media (min-width: 600px) {
  .bar-icon {
    display: none;
  }

  .links {
    display: block;
  }

  /* MAIN */
  /* hero section */
  .hero-post {
    display: grid;
    grid-template-columns: auto;
    padding: 2rem;
    max-width: 90%;
  }

  .hero-about-image {
    grid-column: 1 / 2;
  }

  .featured-post {
    grid-column: 1 / -1;
  }

  .container {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 90%;
  }
}
