@media (min-width: 600px) {
  .bar-icon {
    display: none;
  }

  .links {
    display: block;
  }

  header {
    width: 100%;
  }

  .primary-nav {
    position: inherit;
  }

  /* MAIN */
  /* hero section */
  .hero-post {
    display: grid;
    grid-template-columns: 1.25em minmax(200px, 1fr) auto 1.25em;
    gap: 1rem;
    max-width: 100rem;
  }

  .hero-about-image {
    width: 100%;
    grid-column: 2;
  }

  .featured-post {
    grid-row: 1;
    grid-column: 3 / -2;
    align-self: center;
  }

  .container {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 100rem;
  }
}
